       

       {{ 'auto.css' | stylesheet_tag }}


        <form action="http://0.0.0.0:5333/shop2" method="GET" id="form"> 
          <label for="search"></label>
          <input type="text" name="q" id="search" placeholder="Come on ! Choose " >
          <input type="submit" value="Search" id="submit" >
        </form>




        
